<h1 style='text-align:center'>NoSQL - Not Only SQL</h1>

#### Why No SQL?

- Costly scaling - SQL requires structured data. This structure comes at a cost of suboptimal write/read speeds at scale (SQL's formal approach to managing relational data is what underpins its guarantees e.g. transactional).


- Rigid SQL structure - if you want to change the schema it requires you to change all of your existing data to match the new schema which can take a long time.


- Data explosion - Large/big and unstructured data requires distributed computing (many computers working together to accomplish the same task). Executing distributed joins is a very complex problem in relational databases and can take a really long time.

#### What does NoSQL offer?

- Schemaless âˆ’ Number of fields, content and size of the data object can differ from one data object to another.
- Elasticity - To scale up and handle more queries, just add more machines.
- Dynamic Data - You can store virtually any kind of data and change the database schema on the fly.
- Flexible - Document objects can be unique thereby supporting unstructured data.
- Performant - No complex joins.

#### Types of NoSQL Databases

<img style='width: 400px' src='images/nosql-types.png/'>

<b>Document databases</b> pair each key with a complex data structure known as a document. Documents can contain many different key-value pairs, or key-array pairs, or even nested documents.

<img  style='align: center; width:150px' src='images/mongodb.png' />
<img style='align: center;' src='images/couchdb.png' />
<img style='align: center; width: 200px' src='images/documentdb.png' />

<b>Graph stores</b> are used to store information about networks of data, such as social connections. Graph stores include Neo4J and Giraph.

<img style='align: center;' src='images/neo4j.png' />
<img  style='align: center; width:150px' src='images/ApacheGiraph.svg' />
<img style='align: center;' src='images/networkx.jpg' />

<b>Key-value</b> stores are the simplest NoSQL databases. Every single item in the database is stored as an attribute name (or 'key'), together with its value. Examples of key-value stores are Riak and Berkeley DB.

<b>Wide-column stores</b> such as Cassandra and HBase are optimized for queries over large datasets, and store columns of data together, instead of rows.

## What is MongoDB

MongoDB stores data in flexible, JSON-like documents, meaning fields can vary from document to document and data structure can be changed over time

<b>Data Structure</b>

Single Entry = Document

```json
{ 
  _id: ObjectId(8af37bd7891c), 
  title: 'MongoDB Lab',
  description: 'Introductory lab on how to use MongoDB',
  by: 'Flatiron School',
  topics: ['mongodb', 'database', 'NoSQL', 'JSON']  
}
```

You can embed documents inside documents!

<img src ='images/househouse.gif' />

```json
{ 
  _id: ObjectId(8af37bd78ssc), 
  title: 'Other Lab',
  description: 'Introductory lab on how to use something',
  by: 'Flatiron School',
  topics: ['blah', 'blah', 'blah', 'blah'],
  author: {
            _id: ObjectId(83928shkjw183),
            name: 'Andy Enkeboll',
            building: 'Metropolitan Square'
          }
}
```

##### Why would we want to nest objects?

Multiple Documents = Collection

```json
{ 
  _id: ObjectId(8af37bd7891c), 
  title: 'MongoDB Lab',
  description: 'Introductory lab on how to use MongoDB',
  by: 'Flatiron School',
  topics: ['mongodb', 'database', 'NoSQL', 'JSON']  
}, 
{ 
  _id: ObjectId(8af37bd78ssc), 
  title: 'Other Lab',
  description: 'Introductory lab on how to use something',
  by: 'Flatiron School',
  topics: ['blah', 'blah', 'blah', 'blah']  
}
```

#### Working with MongoDB

Assuming you have installed/setup mongo and pip installed pymongo...

In [1]:
!pip install pymongo
import pymongo
import requests

Requirement already satisfied: pymongo in /anaconda3/envs/learn-env/lib/python3.6/site-packages (3.9.0)

In [2]:
myclient = pymongo.MongoClient("mongodb://127.0.0.1:27017/")

# grab a database from your server 
mydb = myclient['example_data']

#t his can be a new one or an existing one
# (if it doesn't exist, it will get create when you write data into it)

In [3]:
myclient.list_database_names()

['Football_Project', 'admin', 'config', 'example_data', 'local']

In [4]:
# initialize an empty collection - this where your 'documents' will go
mycollection = mydb['example_collection']

In [5]:
mydb.list_collection_names()

['example_collection']

In [6]:
example_data = {'name': 'Jazz Doe', 'address': '123 Kings Street',
                'age': 28, 'children': ['Jane', 'Joe']}
mycollection.insert_one(example_data)

In [7]:
#get all the documents in a collection
query = mycollection.find({})

In [8]:
for document in query:
    print(document)

{'_id': ObjectId('5dbc0607e0cf2203d3dd1048'), 'name': 'Jazz Doe', 'address': '123 Kings Street', 'age': 28, 'children': ['Jane', 'Joe']}
{'_id': ObjectId('5dbc06abd4732cff32f7b9da'), 'name': 'Jazz Doe', 'address': '123 Kings Street', 'age': 28, 'children': ['Jane', 'Joe']}

In [9]:
example_data_2 = [
    {'name': 'Andy', 'address': 'Cornwall'},
    {'name': 'Marisa', 'address': 'London'},
    {'name': 'Ammar'}
                  ]
mycollection.insert_many(example_data_2)

In [10]:
query_1 = mycollection.find({})

In [11]:
for document in query_1:
    print(document)

{'_id': ObjectId('5dbc0607e0cf2203d3dd1048'), 'name': 'Jazz Doe', 'address': '123 Kings Street', 'age': 28, 'children': ['Jane', 'Joe']}
{'_id': ObjectId('5dbc06abd4732cff32f7b9da'), 'name': 'Jazz Doe', 'address': '123 Kings Street', 'age': 28, 'children': ['Jane', 'Joe']}
{'_id': ObjectId('5dbc06abd4732cff32f7b9db'), 'name': 'Andy', 'address': 'Cornwall'}
{'_id': ObjectId('5dbc06abd4732cff32f7b9dc'), 'name': 'Marisa', 'address': 'London'}
{'_id': ObjectId('5dbc06abd4732cff32f7b9dd'), 'name': 'Ammar'}

In [12]:
query_2 = mycollection.find({'name': 'Jazz Doe'})

In [13]:
for document in query_2:
    print(document)

{'_id': ObjectId('5dbc0607e0cf2203d3dd1048'), 'name': 'Jazz Doe', 'address': '123 Kings Street', 'age': 28, 'children': ['Jane', 'Joe']}
{'_id': ObjectId('5dbc06abd4732cff32f7b9da'), 'name': 'Jazz Doe', 'address': '123 Kings Street', 'age': 28, 'children': ['Jane', 'Joe']}

In [14]:
#updating records is super easy! 
record_to_update = {'name' : 'Jazz Doe'}
update_1 = {'$set': {'age': 29, 'birthday': '2/8/1990'}}

mycollection.update_many(record_to_update, update_1)

In [15]:
#searching in a list in a document
query_4 = mycollection.find({'children': 'Jane'})
for item in query_4:
    print(item)

{'_id': ObjectId('5dbc0607e0cf2203d3dd1048'), 'name': 'Jazz Doe', 'address': '123 Kings Street', 'age': 29, 'children': ['Jane', 'Joe'], 'birthday': '2/8/1990'}
{'_id': ObjectId('5dbc06abd4732cff32f7b9da'), 'name': 'Jazz Doe', 'address': '123 Kings Street', 'age': 29, 'children': ['Jane', 'Joe'], 'birthday': '2/8/1990'}

In [16]:
#removing a key:value from a document
update_2 = {'$unset': {'birthday': ''}}

mycollection.update_many(record_to_update, update_2)

In [17]:
query_5 = mycollection.find({'name': 'Jazz Doe'})
for item in query_5:
    print(item)

{'_id': ObjectId('5dbc0607e0cf2203d3dd1048'), 'name': 'Jazz Doe', 'address': '123 Kings Street', 'age': 29, 'children': ['Jane', 'Joe']}
{'_id': ObjectId('5dbc06abd4732cff32f7b9da'), 'name': 'Jazz Doe', 'address': '123 Kings Street', 'age': 29, 'children': ['Jane', 'Joe']}

In [18]:
#delete record
mycollection.delete_one({'name' : 'Jazz Doe'})

In [19]:
#delete all records
# mycollection.delete_many({})

### Working with Images

In [20]:
resp = requests.get('https://www.dictionary.com/e/wp-content/uploads/2018/04/mongo.jpg')

In [21]:
img = resp.content
newcollection = mydb['newcollection']

In [22]:
anewdict = {'a': 4, 'image': img}
newcollection.insert_one(anewdict)

In [23]:
_.inserted_id

ObjectId('5dbc06b3d4732cff32f7b9de')

In [25]:
# from IPython.display import Image

# results = newcollection.find_one({'_id': _})
# newimg = results.get('image')

# len(newimg)
# # Image(newimg)
# with open('/Users/sndaiga/Downloads/mongo.jpg', 'wb') as f:
#     f.write(newimg)