## Pandas Practice

### Introduction <a id="intro"></a>
In this notebook you'll get further practice and review with using conditionals, functions and the pandas package. All of these are common skills in a data science workflow.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('WorldCupMatches.csv')
print(len(df))
df.head()

852

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

### Practice Questions <a id="practice"></a>

1. Subset the DataFrame to only non-null rows.

In [ ]:
#Your code for question 1 goes here.

2. How many of the matches were in Montevideo?

In [ ]:
#Your code for question 2 goes here.

2. b If you haven't already, investigate why this code returns zero:

```python
print(len(df[df.City=="Montevideo"]))
```

In [ ]:
#Your code for question 2b goes here

3. How many matches did USA play in 2014?  

Hint: they could have been home or away.  

You can combine conditions like this:  
df[(condition1) | (condition2)] #Returns rows where either condition is true  
df[(condition1) & (condition2)] #Returns rows where both conditions are true

In [ ]:
#Your code for question 3 goes here.

4. How many teams played in 1986?

In [ ]:
#Your code for question 4 goes here.

5. How many matches were there with 5 or more total goals?

In [ ]:
#Your code for question 5 goes here.

6. Come up with and answer, two other questions you could answer by filtering or subsetting. this DataFrame.

In [9]:
#6a Question:

#6a Solution (with code):

In [10]:
#6b Question:

#6b Solution (with code):